@import 'assets/sass/mixin';
@import 'assets/sass/valuable';

#pagination {
  ul {
    @include flex(center, center);
    margin: 15px 0;
    li {
      @include flex(center, center);
      font-size: 1.6rem;
      width: 32px;
      height: 28px;
      margin: 0 5px;
      &.active button {
        background-color: $hover-main-color;
        border-radius: 2px;
        color: #fff;
      }
      button {
        width: 100%;
        height: 100%;
        border: unset;
        background-color: transparent;
      }
    }
  }
}
