@import 'assets/sass/valuable';
@import 'assets/sass/mixin';
@import 'assets/sass/responsive';

.fm {
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__content {
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    padding: 5px;
    align-items: center;
    &:hover {
      background-color: $hover-background-color;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  &__logo {
    width: 30px;
    margin-right: 6px;
    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &__text {
    font-size: 1.28rem;
    font-weight: 600;
  }
  &-downloadApp {
    @include flex(flex-start, center);
    @include media('screen', '<laptopM') {
      @include flex(center, flex-start, column);
      gap: 2px;
      img {
        max-height: unset;
        width: 100px;
      }
    }
    img {
      max-height: 30px;
    }
    img:first-child {
      margin-right: 4px;
    }
  }
}
* {
  @include media('screen', '<tabletL', '>tablet') {
    .fm__text {
      font-size: 1rem;
    }
    .fm__title {
      font-size: 1.3rem;
    }
  }
}
