.fm {
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__content {
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    padding: 5px;
    align-items: center;
  }
  &__logo {
    width: 14%;
    margin-right: 12px;
    & img {
      width: 100%;
    }
  }
  &__text {
    font-size: 1.28rem;
    font-weight: 600;
  }
  &-downloadApp {
    display: flex;
    & img {
      max-height: 30px;
    }
    & img:first-child {
      margin-right: 4px;
    }
  }
}
