@import 'assets/sass/valuable';
@import 'assets/sass/responsive';

.input-quantity {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  > div {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }
    &:not(:nth-child(2)) {
      cursor: pointer;
    }
    button {
      align-items: center;
      border: unset;
      background-color: unset;
      display: flex;
      height: 100%;
      svg {
        padding: 0 12px;
        height: 13px;
      }
      @include media('hover') {
        &:hover {
          fill: $main-color;
        }
      }
    }
    > input {
      width: 64px;
      border: none;
      height: calc(100% - 2px);
      text-align: center;
      outline: none;
    }
  }
}
