@import 'assets/sass/responsive';

#main {
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 65px;
  height: calc(100vh - 65px);
  .container {
    height: 100%;
    .row {
      height: 100%;
    }
  }
  .col-2 {
    display: none;
  }
  .main-container {
    width: 100%;
  }
  @include media('screen', '<laptopM') {
    .container {
      max-width: 100%;
    }
  }
  @include media('screen', '>tablet') {
    .col-2 {
      display: block;
    }
    .main-container {
      width: 66.66666667%;
    }
  }
  @include media('screen', '<mobileL') {
    .main-container {
      padding: 0;
    }
  }
}
