@import 'assets/sass/valuable';
@import 'assets/sass/mixin';
@import 'assets/sass/responsive';

.item1 {
  border: 1px solid #eee;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  @include media('hover') {
    &:hover {
      box-shadow: $box-shadow-type;
      @include boxShadowCustom(blue);
      cursor: pointer;
    }
  }
  &__img {
    position: relative;
    padding-top: 100%;
    & img {
      position: absolute;
      top: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    padding: 5px 10px;
  }
  &__name {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.44rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__price {
    color: #b53d3c;
    font-size: 2rem;
    font-weight: 600;
    span {
      text-decoration: underline;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-rating {
      display: flex;
      align-items: center;
      svg {
        fill: #faca51;
      }
    }
    &-address {
      font-size: 1rem;
    }
  }
  @include media('screen', '<mobileL') {
    .item1 {
      &__name {
        font-size: 1.3rem;
      }
      &__price {
        font-size: 1.5rem;
      }
      &__footer {
        align-items: flex-start;
        flex-direction: column;
        &-address {
          font-size: 1.1rem;
        }
      }
    }
  }
}
.item2 {
  padding-bottom: 10px;
  &__img {
    position: relative;
    padding-top: 65%;
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    padding: 6px;
  }
  &__name {
    margin-bottom: 8px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    font-weight: 700;
    height: calc(1.6rem * 2 * 1.5);
  }
  &__lecturer {
    font-weight: 700;
    color: #4a4a4a;
    font-size: 1.44rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: calc(1.6rem * 2 * 1.5);
  }
  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.76rem;
    color: #ff0000;
    font-weight: 600;
    span {
      font-size: 1.44rem;
      color: #888;
      margin-right: 8px;
      text-decoration: line-through;
      font-weight: 400;
    }
  }
}
.item3 {
  padding: 0 15px;
  &__img {
    text-align: center;
    img {
      width: 100px;
      padding: 10px;
    }
  }
  &__name {
    font-size: 1.76rem;
    margin-top: 10px;
    font-weight: 700;
  }
  &__description {
    font-size: 1.6rem;
  }
}
.item4 {
  &-head {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    &__avatarUser {
      margin-right: 15px;
      img {
        $size-img: 60px;
        width: $size-img;
        height: $size-img;
        border-radius: 50%;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &__name {
        font-size: 1.44rem;
        font-weight: 700;
      }
      &__dateToNow {
        font-size: 1.28rem;
      }
    }
  }
  &__titlePost {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__contentPost {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__imgPost {
    text-align: center;
    img {
      width: 80%;
    }
  }
  &-contact {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.44rem;
    margin-bottom: 5px;
    > div {
      word-spacing: 1px;
    }
    span {
      font-weight: 700;
    }
    &-right {
      display: flex;
      &__comment {
        margin-right: 8px;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      margin: 0 5px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 20px;
      font-size: 1.44rem;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
      > svg {
        height: 14px;
      }
    }
  }
  &-commentFrame {
    background-color: #eee;
    border-radius: 24px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 16px;
    input {
      flex: 1;
      background-color: #eee;
      border: transparent;
      font-size: 1.6rem;
    }
    > svg {
      height: 16px;
      fill: rgb(80 181 255 / 80%);
    }
  }
  &-listItem {
    margin-bottom: 8px;
    &__item {
      display: flex;
      align-items: center;
    }
    &__avatar {
      margin-right: 15px;
      > img {
        height: 50px;
        border-radius: 50%;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      border-radius: 14px;
      background-color: #eee;
      margin-bottom: 8px;
    }
    &__name {
      font-size: 1.44rem;
      font-weight: 700;
    }
    &__comment {
      font-size: 1.44rem;
      font-weight: 400;
    }
  }
}
