.item1 {
  border: 1px solid #eee;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  &__img {
    position: relative;
    padding-top: 100%;
    & img {
      position: absolute;
      top: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    padding: 5px 10px;
  }
  &__name {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.44rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__price {
    color: #b53d3c;
    font-size: 2rem;
    font-weight: 600;
    span {
      text-decoration: underline;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-rating {
      & > * {
        font-size: 1rem;
        color: #faca51;
      }
      span {
        color: unset;
      }
    }
    &-address {
      font-size: 1rem;
    }
  }
}
.item2 {
  padding-bottom: 10px;
  &__img {
    position: relative;
    padding-top: 65%;
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }
  &__content {
    padding: 6px;
  }
  &__name {
    margin-bottom: 8px;
    // text-transform: uppercase;
    overflow: hidden;
    // text-overflow: ellipsis;
    // line-height: 25px;
    -webkit-line-clamp: 2;
    // height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    font-weight: 700;
    height: calc(1.6rem * 2 * 1.5);
  }
  &__lecturer {
    font-weight: 700;
    color: #4a4a4a;
    font-size: 1.44rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: calc(1.6rem * 2 * 1.5);
  }
  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.76rem;
    color: #ff0000;
    font-weight: 600;
    span {
      font-size: 1.44rem;
      color: #888;
      margin-right: 8px;
      text-decoration: line-through;
      font-weight: 400;
    }
  }
}
.item3 {
  padding: 0 15px;
  &__img {
    text-align: center;
    img {
      width: 100px;
      padding: 10px;
    }
  }
  &__name {
    font-size: 1.76rem;
    margin-top: 10px;
    font-weight: 700;
  }
  &__description {
    font-size: 1.6rem;
  }
}
.item4 {
  &-head {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    &__avatarUser {
      margin-right: 15px;
      img {
        $size-img: 60px;
        width: $size-img;
        height: $size-img;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &__name {
        font-size: 1.44rem;
        font-weight: 700;
      }
      &__dateToNow {
        font-size: 1.28rem;
      }
    }
  }
  &__titlePost {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__contentPost {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__imgPost {
    text-align: center;
    img {
      width: 80%;
    }
  }
  &-contact {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.44rem;
    margin-bottom: 5px;
    span {
      font-weight: 700;
    }
    &__like {
    }
    &-right {
      display: flex;
      &__comment {
        margin-right: 8px;
      }
    }
  }
  &-btn {
    & > div {
      padding: 6px 14px;
      font-size: 1.44rem;
    }
    display: flex;
    justify-content: space-around;
    &__like {
    }
  }
}
