#educationpage {
  .container {
    padding: 0 7.5px;
  }
  & .banner {
    margin-bottom: 16px;
  }
  & .edu-link {
    padding-bottom: 0;
    &__item {
      padding: 0 5px 10px 5px;
    }
    &__container {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      background-color: #D4DFE7;
      padding: 10px;

    }
    &__title {
      font-size: 1.6rem;
      font-weight: 700;
    }
    &__img {
      & img {
        width: 45px;
      }
    }
  }
  & .edu-video {
    padding: 20px;
    &__item {
      width: 100%;
      & iframe {
        width: 100%;
        height: 300px;
      }
    }
  }
  & .course {
    &__title {
      font-size: 1.6rem;
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;

    }
  }
}