@import 'assets/sass/valuable';
@import 'assets/sass/mixin';
@import 'assets/sass/responsive';
#header {
  padding: 5px 0;
  background-color: white;
  box-shadow: $box-shadow-type;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .hd {
    &-left {
      cursor: default;
      img {
        cursor: pointer;
        width: 100px;
      }
    }
    &-main {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &__item {
        position: relative;
        text-align: center;
        flex: 0 0 25%;
        &:hover .hd-main__text {
          color: $main-color;
        }
        &.active {
          .hd-main__text {
            color: $main-color;
          }
        }
      }
      &__line {
        position: absolute;
        height: 3px;
        left: 0;
        background-color: $main-color;
        width: 0;
        bottom: -6px;
        transition: all 0.2s ease;
      }
      &__logo {
        font-size: 1.6rem;
        height: 22.5px;
        > svg {
          fill: $main-color;
        }
      }
      &__logo > * {
        height: 22px;
      }
      &__text {
        font-weight: 600;
        font-size: 1.24rem;
        color: #333;
      }
    }
    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &__item {
        @include flex(center, center);
        background-color: #e4e6eb;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        &.active {
          fill: $main-color;
        }
        > svg {
          height: 16px;
        }
        @include media('hover') {
          &:hover {
            fill: $main-color;
            cursor: pointer;
          }
        }
      }
      &__item:not(:first-child) {
        margin-left: 10px;
      }
      &__item > * {
        font-size: 1.4rem;
      }
      &__item:last-child {
        position: relative;
      }
    }
    &-right-mb {
      display: none;
    }
  }
  .user-box {
    position: absolute;
    width: 280px;
    right: 0;
    top: calc(100% + 8px);
    background-color: #fff;
    box-shadow: $box-shadow-type;
    padding: 8px;
    border-radius: 8px;
    fill: initial;
    @include unselectable;
    &__item {
      display: flex;
      padding: 6px;
      align-items: center;
      border-radius: 8px;
      &:hover {
        fill: $main-color;
        background-color: #dbdbdb;
      }
    }
    &-left {
      border-radius: 50%;
      height: 36px;
      width: 36px;
      background-color: #e4e6eb;
      margin-right: 10px;
      display: flex;
      align-items: center;
      > svg {
        height: 16px;
        margin: auto;
      }
    }
    &-right {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}
#header {
  @include media('screen', '<laptopM') {
  }
  @include media('screen', '<laptop') {
    .container {
      max-width: 100%;
    }
  }
  @include media('screen', '<tablet') {
    .hd {
      &-main {
        display: none;
      }
      &-right {
        display: none;
      }
      &-right-mb {
        @include flex(flex-end);
        &__item {
          svg {
            height: 24px;
            fill: $main-color;
          }
          .user-box {
            &__item {
              .user-box-left {
                svg {
                  fill: initial;
                }
              }
            }
          }
        }
        &__item:not(:first-child) {
          margin-left: 15px;
        }
        &__item:last-child {
          padding-right: 5px;
        }
      }
    }
  }
}
#drawerbars {
  .sidebar-heading {
    background-color: #eee;
    height: 50px;
    position: relative;
    padding: 5px 0;
    @include flex();
    img {
      height: 100%;
    }
    .icon {
      @include flex();
      position: absolute;
      left: 10px;
      width: 20px;
    }
  }
  .content {
    margin: 0 20px;
  }
}
