@import 'assets/sass/valuable';
@import 'assets/sass/responsive';
#homepage {
  padding-left: 5px;
  padding-right: 5px;
  .slider {
    margin-bottom: 16px;
  }
  .slider2 {
    &__title {
      border-color: #ff0000;
    }
    &__content {
      width: 100%;
      border-radius: 8px;
      box-shadow: $box-shadow-type;
      margin: 4px 4px 16px;
    }
    &__img {
      padding-top: 65%;
      position: relative;
      > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
          width: 65%;
          margin: auto;
          margin-top: 5px;
          border-radius: 50%;
        }
      }
    }
    &__name {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 4px;
      font-size: 1.28rem;
      font-weight: 600;
      height: calc(1.28rem * 2 * 1.5);
    }
  }
  & .flashsale {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      &-left {
        font-size: 2rem;
        padding-left: 35px;
        background: url('../../../../public/img/ic_flash1.png') no-repeat left
          center / contain;
      }
    }
    .container {
      padding: 7px;
      padding-bottom: 0;
      .row > div {
        padding: 0 5px 10px 5px;
      }
    }
  }
  .hp-main {
    .container {
      padding: 7px;
      padding-bottom: 0;
      .row > div {
        padding: 0 5px 10px 5px;
      }
    }
  }
  .banner {
    img {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .personalForYou {
    &__title {
      border-color: #ff0000;
    }
    .container {
      .row > div {
        padding: 0 5px 10px 5px;
      }
    }
  }
  @include media('screen', '<laptopM') {
    padding-left: 10px;
    padding-right: 10px;
    .slider2 {
      &__name {
        font-size: 1.1rem;
      }
    }
  }
  @include media('screen', '<mobileL') {
    .flashsale {
      &__title-left {
        font-size: 1.6rem;
        padding-left: 25px;
      }
      &__title-right {
        font-size: 1.4rem;
      }
    }
    .personalForYou {
      .container {
        padding: 0 5px;
      }
    }
    .slider2 {
      &__name {
        font-size: 1rem;
      }
    }
  }
}
