@import 'assets/sass/valuable';
@import 'assets/sass/mixin';
@import 'assets/sass/responsive';

.sidebar {
  display: flex;
  flex-direction: column;
  height: 400px;
  &__item {
    @include flex('flex-start');
    padding: 10px 0 10px 5px;
    &:hover {
      background-color: $hover-background-color;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  &__logo img {
    height: 25px;
  }
  &__text {
    padding-left: 20px;
    font-size: 1.28rem;
    font-weight: 600;
  }
}
.featurecategory {
  border-top: 1px solid #ccc;
  padding-top: 16px;
  margin-top: 16px;
}
.fc {
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__item {
    @include flex('flex-start');
    padding: 5px;
    > span {
      @include flex;
    }
    &:hover {
      background-color: $hover-background-color;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  &__logo img {
    height: 30px;
  }
  &__text {
    padding-left: 20px;
    font-size: 1.28rem;
    font-weight: 600;
  }
}
