@import 'assets/sass/responsive';
@import 'assets/fonts/Montserrat/font.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat';
  background-color: #f0f2f5;
}
a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: unset;
  }
}

.frame {
  padding: 10px;
  background-color: #fff;
  box-shadow: $box-shadow-type;
  border-radius: 6px;
  margin-bottom: 15px;
  &__title {
    border-left: 5px solid #0056b3;
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 10px;
  }
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
.MuiPaper-root {
  max-width: 360px;
  width: 100%;
  background-color: red;
}
* {
  @include media('<mobileL') {
    .MuiPaper-root {
      max-width: none;
      width: 100%;
    }
    .frame {
      padding: 5px;
      padding-bottom: 0px;
      &__title {
        font-size: 1.3rem;
      }
    }
  }
}
